{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>About</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
</head>
<body>
<header>
    <nav class="navbar">
        <div class="nav-left">
            <!-- Add other navigation items here -->
            <a href="/issue/">Home</a>
            <a href="/issue/about">About</a>
        </div>
        <div class="nav-right">
            <form method="post" action="{% url 'logout' %}">
                {% csrf_token %}
                <button type="submit" class="logout-button">Logout</button>
            </form>
        </div>
    </nav>
</header>
<div class="container">
    <div class="left-section">
        <h4>About</h4>
        <p>This is a simple Django application that allows users to create and vote on issues.</p>
        <p>Users can create new issues, view a list of existing issues, and vote on issues by upvoting or downvoting them.</p>
        <p>Users can also view the total number of votes for each issue.</p>
        contact us at: <a href="mailto:beria.giorgi1@gmail.com"> beria.giorgi1@gmail.com </a>
        <br>
        <a href="{% url 'issue_list_and_create' %}">Back to Issue List</a>
    </div>

</div>
</body>
</html>
