{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Issues</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
</head>
<body>
<header>
    <nav class="navbar">
        <div class="nav-left">
            <!-- Add other navigation items here -->
            <a href="/issues">Home</a>
            <a href="/issues/about">About</a>
        </div>
        <div class="nav-right">
            {% if user.is_authenticated %}
                <form method="post" action="{% url 'logout' %}">
                    {% csrf_token %}
                    <button type="submit" class="logout-button">Logout</button>
                </form>
            {% else %}
                <a href="{% url 'login' %}">Login</a>
                <a href="{% url 'register' %}">Register</a>
            {% endif %}
        </div>
    </nav>
</header>
<div class="container">
    <div class="left-section">
        <h4>Issues</h4>
        <form method="get" action="{% url 'issue_list_and_create' %}" class="search-form">
            <input type="text" name="search" placeholder="Search issues..." value="{{ request.GET.search }}" class="search-input">
            <button type="submit">Search</button>
        </form>
        <table>
            <thead>
            <tr>
                <th>Title</th>
                <th>Description</th>
                <th>Rating</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody>
            {% for issue in issues %}
                <tr>
                    <td>{{ issue.title }}</td>
                    <td>{{ issue.description }}</td>
                    <td>{{ issue.rating }}</td>
                    <td>
                        <form method="post" action="{% url 'vote_issue' issue.id %}">
                            {% csrf_token %}
                            <button type="submit" name="vote_type" value="1" class="vote-button upvote">Upvote</button>
                            <button type="submit" name="vote_type" value="-1" class="vote-button downvote">Downvote
                            </button>
                        </form>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <div class="pagination">
            <span class="step-links">
                {% if issues.has_previous %}
                    <a href="?page=1">&laquo; first</a>
                    <a href="?page={{ issues.previous_page_number }}">previous</a>
                {% endif %}

                <span class="current">
                    Page {{ issues.number }} of {{ issues.paginator.num_pages }}.
                </span>

                {% if issues.has_next %}
                    <a href="?page={{ issues.next_page_number }}">next</a>
                    <a href="?page={{ issues.paginator.num_pages }}">last &raquo;</a>
                {% endif %}
            </span>
        </div>
    </div>

    <div class="right-section">
        <h4>Create new</h4>
        <div class="s-messages" id="s-messages">
            {% if messages %}
                <ul>
                    {% for message in messages %}
                        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>
                            {{ message }}
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Save</button>
        </form>
        <hr>
    </div>
</div>
</body>
</html>
